  <div class="prio<%= table.priority %>_title rounded_title">
      <div style="float:left;">[<%= link_to_function 'Update', '$("'+table.form_id+'").onsubmit();' %> ]
  [<%= link_to_remote 'Cancel', :url => show_table_path(:id => table.id), :method => 'get', :update => table.div_id, :complete=> "init_table('#{table.t_id}')" %>]</div>
<div style="float:left;" id="<%= table.div_id %>.conflict"></div>

  </div>
  <div class="prio<%= table.priority %>_body rounded_content" id="<%= table.div_id %>.edit">
<% form_remote_for(table, :url => update_table_path(:id => table.id), :method => :put, :html => { :id => table.form_id } ) do |f| %>
    <p>
    Title:<br>
    <%= f.text_field :title %><br>
    <%= check_box_tag :useraw, 1 %>
    <%= text_area_tag :raw, raw_text(table), :rows=>10,:cols=>80 %>
    <%= hidden_field_tag 'workspace[editor]', current_or_anon_login %>
    </p>
<% end %>
  </div>
