<!--<script src="http://localhost:8080/application.js" type="text/javascript" charset="utf-8"></script>-->
<!--  <script src="http://localhost:8080/json.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://localhost:8080/socket_io.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://localhost:8080/juggernaut.js" type="text/javascript" charset="utf-8"></script>-->

<%= javascript_include_tag :defaults, :juggernaut %>
<%= javascript_include_tag "dragresize" %>
<%= stylesheet_link_tag "dragresize" %>
<%= juggernaut :channels => [@puzzle.chat_id], :client_id => current_user ? current_user.login : "anon", :debug => false %>


<!--<script type="text/javascript" charset="utf-8">
  var jug = new Juggernaut;
  jug.subscribe('<%=h @puzzle.chat_id %>', function(chat){
    $('chatpane').firstDescendant().insert({bottom:'<li>  '+chat.dateformat+' <b>'+chat.user+':</b> '+chat.text+' </li>'});
    $('chatpane').scrollTop = $('chatpane').scrollHeight;
  });
</script>-->

<script type="text/javascript" charset="utf-8">
var users = {};
var dragresize = new DragResize('dragresize',
 { minWidth: 50, minHeight: 50, minLeft: 0, minTop: 0, maxLeft: 6000, maxTop: 6000 });

dragresize.isElement = function(elm)
{
 if (elm.className && elm.className.indexOf('drsElement') > -1) return true;
};
dragresize.isHandle = function(elm)
{
 if (elm.className && elm.className.indexOf('drsMoveHandle') > -1) return true;
};

dragresize.ondragend = function(isResize) {
  
};
dragresize.apply(document);

  function subscribe_user(user,du) {
    users[user] = true;
    if (!du) update_users();
  }

  function unsubscribe_user(user) {
    if (users[user]) delete users[user];
    update_users();
  }

  function update_users() {
    $('chatusers').firstDescendant().update();
    for (var u in users) {
      $('chatusers').firstDescendant().insert({bottom:'<li> '+u+'</li>'});
    }
  }


  document.observe("dom:loaded", function() {
    <% @chatusers.each do |c| %>
    subscribe_user('<%=h c["client_id"] %>',true);
    <% end %>
    update_users();
  });
</script>

<%= render "welcome/login" %> 

<div id="info">
<%= render :partial => 'info' %>
</div>

<div class="drsElement" style="left: 500px; top:0px; width: 200 px; height: 400 px;">
<div class="drsMoveHandle">Chat</div>
<div style="height: 200px; overflow: auto" id="chatpane">
  <ul class="chatlist">
    <% @chats.reverse_each do |c| %>
      <li>  <%=h c.dateformat %> <b><%=h c.user %>:</b> <%= sanitize_text(c.text) %> </li>
    <% end %>
  </ul>
</div>
<% form_remote_tag(
                  :url => { :action => 'chat', :id => @puzzle.id },
                  :complete => "$('chat_input').value = '';" ) do %>
<%= text_field_tag( :chat_input, '', { :size => 20, :id => :chat_input } ) %>
<%= submit_tag "Add", :disable_with => "Sending..." %>
<% end %>

<div id="chatusers">
  Users:
  <ul class="userlist">
  </ul>
</div>
</div>