<p>
  <b>Name:</b>
  <%=h @puzzle.name %>
</p>

<p>
  <b>Hint:</b>
  <%=h @puzzle.hint %>
</p>

<p>
  <b>Captain:</b>
  <%=h @puzzle.captain %>
</p>

<p>
  <b>Answer:</b>
  <%=h @puzzle.answer %>
</p>

<p>
  <b>Meta:</b>
  <%=h @puzzle.meta %>
</p>

<p>
  <b>Round:</b>
  <%=h @puzzle.round_id %>
</p>

<p>
  <b>Status:</b>
  <%=h @puzzle.status %>
</p>

<%= link_to 'Edit', edit_puzzle_path(@puzzle) %> |
<%= link_to 'Back', @round %>

<div id="chatpane">
</div>
<%= form_remote_tag(
                  :url => { :action => :send_data },
                  :complete => "$('chat_input').value = ''" ) %>
<%= text_field_tag( 'chat_input', '', { :size => 20, :id => 'chat_input'} ) %>
<%= submit_tag "Add" %>
</form>
