<!--<script src="http://localhost:8080/application.js" type="text/javascript" charset="utf-8"></script>-->
<!--  <script src="http://localhost:8080/json.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://localhost:8080/socket_io.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://localhost:8080/juggernaut.js" type="text/javascript" charset="utf-8"></script>-->

<%= javascript_include_tag :defaults, :juggernaut %>
<%= juggernaut :channels => [@puzzle.chat_id], :client_id => current_user.login, :debug => false %>


<!--<script type="text/javascript" charset="utf-8">
  var jug = new Juggernaut;
  jug.subscribe('<%=h @puzzle.chat_id %>', function(chat){
    $('chatpane').firstDescendant().insert({bottom:'<li>  '+chat.dateformat+' <b>'+chat.user+':</b> '+chat.text+' </li>'});
    $('chatpane').scrollTop = $('chatpane').scrollHeight;
  });
</script>-->

<script type="text/javascript" charset="utf-8">
  var users = {};
  function subscribe_user(user,du) {
    users[user] = true;
    if (!du) update_users();
  }

  function unsubscribe_user(user) {
    if (users[user]) delete users[user];
    update_users();
  }

  function update_users() {
    $('chatusers').firstDescendant().update();
    for (var u in users) {
      $('chatusers').firstDescendant().insert({bottom:'<li> '+u+'</li>'});
    }
  }


  document.observe("dom:loaded", function() {
    <% @chatusers.each do |c| %>
    subscribe_user('<%=h c["client_id"] %>',true);
    <% end %>
    update_users();
  });
</script>

<p>
  <b>Name:</b>
  <%=h @puzzle.name %>
</p>

<p>
  <b>Hint:</b>
  <%=h @puzzle.hint %>
</p>

<p>
  <b>Captain:</b>
  <%=h @puzzle.captain %>
</p>

<p>
  <b>Answer:</b>
  <%=h @puzzle.answer %>
</p>

<p>
  <b>Meta:</b>
  <%=h @puzzle.meta %>
</p>

<p>
  <b>Round:</b>
  <%=h @puzzle.round_id %>
</p>

<p>
  <b>Status:</b>
  <%=h @puzzle.status %>
</p>

<%= link_to 'Edit', edit_puzzle_path(@puzzle) %> |
<%= link_to 'Back', @round %>

<div style="height: 200px; overflow: auto" id="chatpane">
  <ul class="chatlist">
    <% @chats.reverse_each do |c| %>
      <li>  <%=h c.dateformat %> <b><%=h c.user %>:</b> <%=h c.text %> </li>
    <% end %>
  </ul>
</div>
<% form_remote_tag(
                  :url => { :action => 'chat', :id => @puzzle.id },
                  :complete => "$('chat_input').value = '';" ) do %>
<%= text_field_tag( :chat_input, '', { :size => 20, :id => :chat_input } ) %>
<%= submit_tag "Add", :disable_with => "Sending..." %>
<% end %>

<div id="chatusers">
  Users:
  <ul class="userlist">
  </ul>
</div>