  <div class="rounded_title">
      <div class="title_left">
      <%= render :partial => 'layouts/cancel_controls',   :locals => { :show_path => show_table_path(:id => table.id),
        :update_id => table.div_id,
        :form_id => table.form_id    } %>
      </div>
      <div class="title_left" id="<%= table.div_id %>.conflict"></div>
  </div>
  <div class="rounded_content" id="<%= table.div_id %>.edit">
<% form_remote_for(table, :url => update_table_path(:id => table.id), :method => :put, :html => { :id => table.form_id } ) do |f| %>
    <p>
    Title:<br>
    <%= f.text_field :title %><br>
    <%= text_area_tag :raw, raw_text(table), :rows=>10,:cols=>80 %>
    <%= check_box_tag :useraw, 1 %> Raw update
    <%= hidden_field_tag 'workspace[editor]', current_or_anon_login %>
    </p>
<% end %>
  </div>
