<div class=" priority_<%= table.priority %>">
 <div class="<%= table.title_class %>">
  <div class="title_left">
      <%= render :partial => 'layouts/edit_controls',   :locals => {        :edit_path => edit_table_path(:id => table.id), 
        :show_path => show_table_path(:id => table.id),
        :update_id => table.div_id,
        :delete_path => delete_table_path(:id => table.id),
        :title => table.title } %>
  </div>
  <div class="title_right">
    Updated <%= relative_time table.updated_at %> by <%= table.editor %>
    <% form_for table, :remote => true, :url => prioritize_table_path(:id => table.id), :html => { :class => 'iform', :id => table.div_id + '.prio', :autocomplete => 'off' } do %>
      <%= select :table, :priority, options_for_select(Table.priorities,table.priority),{ :id => table.div_id + '.priobox' }, {:onchange => "$('#{table.div_id}.prio').onsubmit()"} %>
    <% end %>
  </div>
</div>
<% if table.priority != "Useless" %>
<div class="rounded_content">
  <div id="<%= table.div_id %>.content" class="pzt_table" style="padding: 4px;">
  <table id="<%= table.t_id %>" style="width:100%;">
  <% table.rows.each_with_index do |row,i| %>
    <tr>
    <% if i>0 %> <td class="pzt_row"><%=i%></td> <% else %> <th style="width:3%;" class="pzt_head">#<span class="sorter">&#8597;</span></th> <% end %>
    <% row.each do |cell_id| %>
    <% if i>0 %>
    <td class="pzt_row"><span class="inp">
    <% else %>
    <th class="pzt_head">
    <% end %>
    <input name="text" class="inpi"
      autocomplete="off"
      onchange="<%= remote_function(:url => update_cell_path(:id => cell_id,
        :channel => table.thread.chat_id), :with => "Form.Element.serialize($('TC#{cell_id}'))") %>"
      onenter
      id="TC<%=cell_id%>"
      type="text"
      value="<%= table.getcell(cell_id).contents %>">
      <% if i>0 %></span><span class="calc hidden"></span></td>
      <% else %>
      <span class="sorter">&#8597;</span></th> <% end %>
    <% end %>
    </tr>
  <% end %>
  </table>
  <script type="text/javascript">
  //TableKit.Sortable.init("<%= table.t_id %>");
  //TableKit.Resizable.init("<%= table.t_id %>");
  <% if update %>
  update_table('<%= table.div_id %>');
  <% end %>
  </script>
  <%= link_to 'Add row', :remote => true, :url => rc_table_path(:id => table.id,:type=>'row'), :method => 'get' %> 
  <%= link_to 'Add col', :remote => true, :url => rc_table_path(:id => table.id,:type=>'col'), :method => 'get' %> 
  </div>
</div>
<%end%>
</div>
