<% if show_div %>
<div id="<%= workspace.gdiv_id(count) %>">
<% end %>
<table 
  data-grid-rows="<%= rows.size %>"
  data-grid-cols="<%= rows[0].size %>"
  data-grid-id="<%= count %>" 
  data-grid-ws="<%= workspace.id %>" >
  <tr > <td class="gridcell"></td>
  <% rows[0].length.times do |c| %>
    <td class="gridcell gridhead"> <%= c+1 %> </td>
  <% end %>
</tr>
  <% rows.each_with_index do |row,r| %>
    <tr>
<%#   First column    %>
    <td class="gridcell gridhead"><%=r+1%></td>
    
<%#   Rest of columns   %>
    <% row.each_with_index do |contents,c| %>
          <%
            value,label = (contents || "").split(/:/)
          %>
          <td class="gridcell"><div style="position:relative;width:100%; height:100%;"><span class="gridlabel"><%= label %></span><input
              name="text" class="gridinput inpi <%= value =~ /^[\!\@\#\$\%\^\&\*]/ ? ApplicationHelper::GRID_COLORS[value] : "" %>"
              autocomplete="off"
              maxlength="1"
              data-grid-r="<%= r %>"
              data-grid-c="<%= c %>"
        type="text"
        value="<%= value %>"></div></td>
    <% end %>
     </tr>
 <% end %>
</table>
 <span class="tableadd">!-* to color, shift-click to number</span>
<% if show_div %>
</div>
<% end %>
