<div class=" priority_<%= workspace.priority %>">
 <div class="<%= workspace.title_class %>">
  <div class="title_left">
    <%= render :partial => 'layouts/edit_controls',   :locals => {        :edit_path => edit_workspace_path(:id => workspace.id), 
        :show_path => show_workspace_path(:id => workspace.id),
        :update_id => workspace.div_id,
        :delete_path => delete_workspace_path(:id => workspace.id),
        :title => workspace.title } %>
  </div>
  <div class="title_right">
    Updated <%= relative_time workspace.updated_at %> by <%= workspace.editor %>
   <% form_remote_for workspace, :url => prioritize_workspace_path(:id => workspace.id), :html => { :class => 'iform', :id => workspace.div_id + '.prio', :autocomplete => 'off' } do %>
      <%= select :workspace, :priority, options_for_select(Workspace.priorities,workspace.priority),{ :id => workspace.div_id + '.priobox' }, {:onchange => "$('#{workspace.div_id}.prio').onsubmit()"} %>
    <% end %>
  </div>
</div>

<% if workspace.priority != "Useless" %>
  <div class="rounded_content">
    <div id="<%= workspace.div_id %>.content" style="padding: 4px;">
      <%= comment_format(workspace) || '<br>' %>
    </div>
    <div id="<%= workspace.div_id %>.assets">
      <% workspace.assets.each do |asset| %>
        <%= render :partial => 'workspace/asset', :locals => { :asset => asset } %>
      <% end %>
    </div>
    <div style="padding:2px;">
      <div id="<%= workspace.div_id %>.addbutton">
        <%= link_to_function 'Attach file', "javascript: showUpload('#{workspace.div_id}')" %>
      </div>
      <div id="<%= workspace.div_id %>.cancelbutton" class="hidden">
        <%= link_to_function 'Cancel attachment', "javascript: hideUpload('#{workspace.div_id}')" %>
      </div>
      <div id="<%= workspace.div_id %>.upload" class="hidden">
        <% form_for :asset, :url => new_attachment_path(:id => workspace.id), :html => { :multipart => true, :target => workspace.div_id+".upload_frame" } do |f| %>
          <%= f.file_field :file %> <%= f.submit 'Upload' %>
        <% end %>
        <iframe id="<%= workspace.div_id %>.upload_frame" name="<%= workspace.div_id %>.upload_frame" style="display: none"></iframe>
      </div>
    </div>
  </div>
<% end %>
</div>
