<div id="chatwindow" class="rounded" style="position:fixed; top: 0px; right: 0px; width: 23%; height: 380px; background-color: #fff;">
<div id="chattitle" class="rounded_title">Chat</div>
<div style="height: 200px; padding:3px; overflow: auto" id="chatpane">
  <ul class="chatlist">
    <% chats.reverse_each do |c| %>
      <li>  <%=h c.dateformat %> <b><%=h c.user %>:</b> <%= sanitize_text(c.text) %> </li>
    <% end %>
  </ul>
</div>
<div id="chatbox" style="position:absolute; top:230px; height: 20px; padding: 3px;">
<% form_remote_tag(
                  :url => { :action => 'chat', :id => thread.id },
                  :complete => "$('chat_input').value = '';",
                  :html => { :id => 'chatform' } ) do %>
<%= text_field_tag( :chat_input, '', { :size => 20, :id => :chat_input } ) %>
<%= submit_tag "Add", :disable_with => "Sending..." %>
<% end %>
</div>
<div id="chatusers" style="position:absolute; top:260px; padding:3px;">Users: <ul class="userlist"></ul>
<%= link_to 'Log', chat_log_path(:channel => thread.chat_id,:thread=>thread.id,:type=> thread.class.to_s), :target => "_blank" %>
</div>
