<p>
  <b>User:</b>
  <%=h @chat.user %>
</p>

<p>
  <b>Puzzle:</b>
  <%=h @chat.puzzle_id %>
</p>

<p>
  <b>Text:</b>
  <%=h @chat.text %>
</p>


<%= link_to 'Edit', edit_chat_path(@chat) %> |
<%= link_to 'Back', chats_path %>