<div id="navbar" class="rounded" style="width: 74%; padding: 8px; background-color:#f93;">
<b style="color:#531; font-size:14pt;">PuzTube</b> |
<%= link_to 'Home', root_url %> |
<%= link_to 'Puzzles', { :action => 'index', :controller => 'rounds' } %> |
<%= link_to 'Topics', { :action => 'index', :controller => 'topics' } %> |
<%= link_to 'Hunters', { :action => 'index', :controller => 'users' } %> |

<% if current_user %>
  <% form_remote_tag :url => { :action => 'login', :controller => 'welcome' }, :html => { :class => 'iform', :id => 'login_form', :autocomplete => 'off' } do %>
    <%= collection_select(:user,:login,User.all,:login,:login,{ :selected => current_user.login }, {:onchange => "$('login_form').onsubmit()"}) %> 
     <%= link_to_remote 'Logout', :url => { :action => 'logout', :controller => 'welcome' } %>
  <% end %>
<% else %>
  <% form_remote_tag :url => { :action => 'login', :controller => 'welcome' }, :html => { :class => 'iform', :id => 'login_form', :autocomplete => 'off' } do %>
    <%= select :user, :login, "<option value='' selected>Please select</option>" + options_from_collection_for_select(User.all,:login,:login),{ }, {:onchange => "$('login_form').onsubmit()"} %>
    or <%= link_to 'sign up', { :action => 'new', :controller => 'users' }, :target => '_blank' %>
  <% end %>
<% end %>
</div>