<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "chat" %>

<script type="text/javascript">
  document.observe("dom:loaded", startup);
  user = '<%= current_user.login %>';
  channel = '<%= @topic.chat_id %>';
</script>

<%= javascript_include_tag "resize" %>
<%= javascript_include_tag "workspaces" %>
<%= javascript_include_tag "tablekit" %>
<%= javascript_include_tag "http://localhost/socket.io/socket.io.js" %>
<%= javascript_include_tag "socket-users" %>

<% content_for :title, "#{@topic.name}" %>



<div id="mainpage">

<%= render :partial => "welcome/login" %> 

<h1><%=h @topic.name %></h1>

<%= link_to 'Back', topics_path %><br>

<div id="editables" class="hidden">
<%= link_to_remote 'New Comment', :url => new_workspace_path(:type => 'topic', :name => @topic.name), :method => :post %>
<div id="comments">
<% @topic.workspaces.each do |ws| %>
  <%= render :partial => 'workspace/block', :locals => { :workspace => ws } %>
<% end %>
</div>
</div>
</div>
<%= render :partial => 'chats/window', :locals => { :chats => @chats, :thread => @topic, :multi => nil } %>
