<div class="rounded_title">
    <div class="title_left">
    <%= render :partial => 'layouts/cancel_controls',   :locals => {        :show_path => info_round_path(:id=>round.id),
        :update_id => round.div_id,
        :form_id => "r#{round.id}.update"    } %>
    </div>
  </div>
  <div style="padding: 5px;">
  <% form_remote_for(round,
                  :url => { :action => 'update', :controller => 'rounds', :id => round.id },
                  :method => :put,
                  :html => { :id => "r#{round.id}.update" } ) do |f| %>
    <b><%= f.label :name %>:</b>
    <%= f.text_field :name %><br>
    <b><%= f.label :hunt %>:</b>
    <%= collection_select(:round,:hunt_id,Hunt.all,:id,:name,{ :selected => round.hunt_id })
    select :round, :hunt_id, 
    
    "<option value='' selected>Please select</option>" + options_from_collection_for_select(Hunt.all,:id,:name) %><br>
    <b><%= f.label :url %></b>
    <%= f.text_field :url %><br>
    <b><%= f.label :hint %></b>
    <%= f.text_field :hint %><br>
    <b><%= f.label :priority %></b>
    <b><%= select :round, :priority, "<option value=''>Select priority</option>" + options_for_select(Round::PRIORITY_OPTIONS.keys,round.priority) %><br>
    <b><%= f.label :captain %></b>
    <%= collection_select(:round,:captain,User.all,:login,:login,{:prompt=>true}) %><br>
    <b><%= f.label :answer %></b>
    <%= f.text_field :answer %><br>
  <% end %>
</div>
