<%= javascript_include_tag :defaults, :juggernaut %>
<%= javascript_include_tag "juggernaut-users" %>
<%= javascript_include_tag "resize" %>
<%= javascript_include_tag "workspaces" %>

<%= juggernaut :channels => [@round.chat_id], :client_id => current_or_anon_login, :debug => true %>
<% content_for :title, "#{@round.name}" %>

<script type="text/javascript" charset="utf-8">
  var userlist = new Array(<%= @chatusers.map {|c| "'#{h c['client_id']}'" }.join(',') %>);
  document.observe("dom:loaded", startup);
</script>
<%= render :partial => "welcome/login" %> 
<%= render :partial => "connections/test", :locals => { :user => current_or_anon_login, :channel => @round.chat_id } %> 

<div id="info">
<%= render :partial => 'info', :locals => { :round => @round } %>
</div>
<div id="editables" class="hidden">
<%= link_to_remote 'New Comment', :url => new_workspace_path(:type => 'round', :id => @round.id), :method => :post %>
<div id="comments">
<% @round.workspaces.each do |ws| %>
  <%= render :partial => 'workspace/block', :locals => { :workspace => ws } %>
<% end %>
</div>
</div>

<%= render :partial => 'chats/window', :locals => { :chats => @chats, :thread => @round } %>
