<h1>Editing user <%= @user.login %></h1>

<% form_for(@user, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %>/Phone<br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :info %><br />
    <%= f.text_area :info %>
  </p>
  <p>
    <%= f.label :team_captain %>
    <%= f.check_box :team_captain %>
  </p>
  <p>
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', user_path(:id => @user.login) %> |
<%= link_to 'Back', users_path %>
