<%= javascript_include_tag :defaults %>

<h1> Hunter <%= @user.name %> </h1>


<div><%= image_tag(@user.photo.url) if @user.photo %></div>

<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Info:</b>
  <%=h @user.info%>
</p>

<% if @user.team_captain %>
<p>
  <font style='color:red;'><%= @user.name %> is a Team Captain</font>
</p>
<% end %>

<% if @user == current_user && @chats %>
<script language="javascript">
function showChats() {
   $('chats').removeClassName('hidden');
}
</script>
<p><b> PRIVATE CHATS </b> - Please don't read these if they're not for you.<br>
<%= link_to_function '[Show]', 'showChats()' %></p>
<div id="chats" class="hidden">
<ul>
<% @chats.each do |chat| %>
  <li><%=h chat.dateformat%> <b><%=h chat.user%>:</b> <%=sanitize_text chat.text %></li>
<% end %>
</ul>
</div>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
