<div id="navbar" class="rounded" style="background-color:#f93;">
<div style="padding:8px;">
<b style="color:#531; font-size:14pt;">PuzTube</b> |
<%= link_to 'Home', root_url %> |
<%= link_to 'Current Hunt', { :action => 'index', :controller => 'rounds' } %> |
<%= link_to 'Archive', { :action => 'index', :controller => 'hunts' } %> |
<%= link_to 'Topics', { :action => 'index', :controller => 'topics' } %> |
<%= link_to 'Hunters', { :action => 'index', :controller => 'users' } %> |
<%= link_to 'Help', { :action => 'show', :controller => 'topics', :name => 'Help' } %> |
<%= link_to 'Puzzle Tools', { :action => 'show', :controller => 'topics', :name => 'Puzzle Tools' } %> |
<%= link_to 'Things to Try', { :action => 'show', :controller => 'topics', :name => 'Things to Try' } %> |

<% if current_user %>
  <%= current_user.login %> (<%= link_to 'logout', logout_path, :remote => true  %>)
<% end %>
</div>
</div>

<div id="broadcasts" class="broadcasts">
<% recent_broadcasts.each do |chat| %>
 <b style="color:red"><%= chat.user %>:</b> <%= sanitize_text chat.text%> <br>
<% end %>
</div>
