<%= javascript_include_tag :defaults %>

<%= render "welcome/login" %> 

<h1><%= @users.size %> Hunters!</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Name</th>
    <th>Email</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.info %></td>
    <td><%= image_tag(user.photo.url(:thumb)) if user.photo? %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
<% if user.team_captain %>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>
