<div id="showchat" class="chattoggle button" style="display: none;">
    <%= link_to_function 'show chat', "showChat();" %>
</div>
<div id="hidechat" class="chattoggle button">
    <%= link_to_function 'hide chat', "hideChat();" %>
</div>
<div id="chatwindow" class="rounded">
  <div id="chattitle" class="rounded_title">
   <div class="title_left">Chat: <%= thread.name %></div>
   <div class="title_right"><span id="chatclock"></span></div>
  </div>
  <div style="padding:3px; overflow: auto" id="chatpane">
    <ul class="chatlist">
<% last_date = nil %>
<%   chats.reverse_each do |c| %>
<%     if !last_date || c.day > last_date %>
      <li> <b> <%= c.dateformat %> </b>
<%     end %>
      <li>  <%=h c.timeformat %> <b><%= link_to c.user, user_path(c.user), :target => "_blank" %>:</b> <%= sanitize_text(c.text) %> </li>
<%     last_date = c.day %>
<%   end %>
    </ul>
  </div>
  <div id="chatbox" style="height: 20px; padding: 3px;">
<% form_remote_tag( :url => { :action => 'chat', :id => thread.id },
                  :loading => "$('chat_input').value = '';",
                  :html => { :id => 'chatform' } ) do %>
<%= text_field_tag( :chat_input, '', { :size => 20, :id => :chat_input } ) %>
<%= submit_tag "Add", :disable_with => "Sending..." %>
<% end %>
  </div>
  <div id="chatusers" style="height: 80px; overflow:auto; padding:3px;">Users: <ul class="userlist"></ul> </div>
<%= link_to 'Log', chat_log_path(:channel => thread.chat_id,:thread=>thread.id,:type=> thread.class.to_s), :target => "_blank" %>
</div>
