<div id="togglechat" class="button">
  <%= link_to "hide chat", "#" %>
</div>
<div id="chatwindow" class="rounded">
  <div id="chattitle" class="rounded_title">
   <div class="title_left">Chat: <%= thread.name %></div>
   <div class="title_right"><span id="chatclock"></span></div>
  </div>
  <div id="chatpane">
    <ul id="chatlist">
<% last_date = nil %>
<%   chats.reverse_each do |c| %>
<%     if !last_date || c.day > last_date %>
      <li> <b> <%= c.dateformat %> </b>
<%     end %>
      <li>  <%=h c.timeformat %> <b><%= link_to c.user, user_path(c.user), :target => "_blank" %>:</b> <%= sanitize_text(c.text) %> </li>
<%     last_date = c.day %>
<%   end %>
    </ul>
  </div>
  <div id="chatbox">
    <%= form_tag( { :action => 'chat', :id => thread.id },
                 :remote => true,
                  :id => 'chatform' ) do %>
<%= text_field_tag( :chat_input, '', { :size => 20, :id => :chat_input } ) %>
<%= submit_tag "Add", :disable_with => "..." %>
<% end %>
  </div>
  <div id="chatusers">Users: <ul id="userlist"></ul> </div>
<%= link_to 'Log', chat_log_path(:channel => thread.chat_id,:thread=>thread.id,:type=> thread.class.to_s), :target => "_blank" %>

<script type="text/javascript">
function pop_window() {
  var opts = 'titlebar=no,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,height=300,width=700';
  var win = window.open('','puztube_chat', opts);
  if (!win || win.closed || win.location.href == 'about:blank') {
  window.open('<%= chat_window_path(:channel => thread.chat_id) %>',
     'puztube_chat', opts );
  }
}
</script>
<%= link_to_function "pop \u2197", 'pop_window();', :style => "float:right;" %>
</div>
