<%= javascript_include_tag :defaults %>

<h1>Listing chats</h1>

<table>
  <tr>
    <th>User</th>
    <th>Text</th>
  </tr>

<% @broadcasts.each do |chat| %>
  <tr>
    <td><%=h chat.user %></td>
    <td><%=h chat.text %></td>
    <td><%= link_to 'Edit', edit_chat_path(chat) %></td>
    <% if current_user.team_captain %>
    <td><%= link_to_remote 'Destroy', :url => { :id => chat.id, :controller => 'chats', :action => 'destroy' }, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
