<h1>Chats for <%= @thread.name %></h1>

<ul>

% last_date = nil
% @chats.each do |c|
%   if !last_date || c.day > last_date
    <li> <b> <%= c.dateformat %> </b>
%   end
    <li>  <%=h c.timeformat %> <b><%=h c.user %>:</b> <%= sanitize_text(c.text) %> </li>
%   last_date = c.day
% end
</ul>

<br />