<%= stylesheet_link_tag "rounded" %>

<%= javascript_include_tag :defaults, :juggernaut %>
<%= javascript_include_tag "juggernaut-users" %>
<%= javascript_include_tag "resize" %>

<%= juggernaut :channels => ["ROUNDS"], :client_id => current_user ? current_user.login : "anon", :debug => false %>

<script type="text/javascript" charset="utf-8">
  function update_and_submit(pzr,pid,rid,flds) {
    var fields = flds.split(',');
    fields.each(function(t) {
      if (t == "meta") {
        if ($(pzr+"."+t).checked)
          $(rid+"."+t).value = 1;
        else
          $(rid+"."+t).value = 0;
      } else
        $(rid+"."+t).value = $(pzr+"."+t).value;
    });
    $(rid+".id").value = pid;
    $(rid+".form").onsubmit();
  }
</script>

<%= render :partial => "welcome/login" %> 
<%= render :partial => "connections/test", :locals => { :user => current_or_anon_login, :channel => "ROUNDS" } %> 

<!-- This page renders puzzle info - it has the following functions:
    * Show puzzles in round order
    * Provide sort options - either by round, priority, or status
    * You should never have to leave this page once the hunt starts. It should populate itself with new fields and update rounds as needed.
 -->

<h1>Puzzles</h1>

<%= link_to_remote 'New round', :url => new_round_path() %>

<div id="roundstable">
<% @rounds.each do |round| %>
  <%= render :partial => 'round', :locals => { :round => round } %>
<% end %>
</div>