!!! XML
%html{ :xmlns => "http://www.w3.org/1999/xhtml",  :"xml:lang" => "en", :lang => "en" }
%head
  %meta{ :"http-equiv" => "content-type", :content => "text/html;charset=UTF-8" }
  %title PuzTube - Puzzles
  = stylesheet_link_tag 'application'
  = stylesheet_link_tag 'ts_blue/style'
  %link{ :rel => "icon", :type => "image/png", :href => "http://#{hostname}/favicon.png" }
%body
  %p{ :style => "color: green"}= flash[:notice]
  = yield
