<% form_for @puzzle, :remote => true, :url => update_puzzle_url(@puzzle) do |f| %>
  <%= f.error_messages %>
  <p>
    <b><%= f.label :name %>:</b>
    <%= f.text_field :name %><br>
    <b><%= f.label :url %></b>
    <%= f.text_field :url %><br>
    <b><%= f.label :blurb %></b> - "crossword", "picma", "couple of wavy lines", "need a sanskrit speaker", etc.<br>
    <%= f.text_area :hint, :rows => 5, :cols => 60 %><br>
    <b><%= f.label :captain %></b>
    <%= collection_select(:puzzle,:captain,User.all,:login,:login,{:prompt=>true}) %><br>
    <b><%= f.label :meta %></b>
    <%= f.check_box :meta %><br>
    <b><%= f.label :answer %></b>
    <%= f.text_field :answer %><br>
    <b><%= f.label :wrong_answer %></b>
    <%= f.text_field :wrong_answer %><br>
    <b><%= f.label :round %></b>
    <%= collection_select :puzzle, :round_id, Round.all,:id,:name %><br>
    <b><%= f.label :status %></b>
    <b><%= select :puzzle, :status, "<option value=''>Select status</option>" + options_for_select(Puzzle.status_options,@puzzle.status) %><br>
    <b><%= f.label :priority %></b>
    <b><%= select :puzzle, :priority, "<option value=''>Select priority</option>" + options_for_select(Puzzle.priority_options,@puzzle.priority) %><br>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<div id="statusblock" class="statusblock" style="background-color: <%= @puzzle.status_color %>;"></div>

<%= link_to 'Show', :remote => true, :url => { :action => 'info', :id => @puzzle.id }, :method => 'get', :update => 'info' %>
