<p>
  <h1><%=h puzzle.name %> </h1> 
  <b>Captain:</b> <%=h puzzle.captain %> <br>
  <b>Url:</b> <%=link_to puzzle.url, :html => { :target => '_blank' } %> <br>
  <b>Blurb:</b>  <%=h puzzle.hint %> <br>
  <b>Round Hint:</b>  <%=h puzzle.round.hint %> <br>
  <b>Answer:</b>   <%=h puzzle.answer %> <br>
  <b>Wrong Answer:</b>   <%=h puzzle.wrong_answer %> <br>
  <b>Round:</b>  <%=link_to puzzle.round.name, puzzle.round, :html => { :target => '_blank' } %> <br>
  <b>Status:</b>  <%=h puzzle.status %> <br>
  <b>Priority:</b>  <%=h puzzle.priority %> <br>
<%= button_to "I'm working on this", :url => worker_puzzle_path(:id => puzzle.id, :worker => current_user.login ) %><br>

<%= link_to 'Edit', :remote => true, :url => { :action => 'edit', :id => puzzle.id }, :method => 'get', :update => 'info' %>

<% if puzzle.meta %>
<p>
<b>Round puzzles:</b>
<table class="puzzletable" style="width:75%;">
<tr><th>Name</th><th>Answer</th><th>Captain</th><th>Blurb</th></tr>
  <% puzzle.round.puzzles.each do |p| %>
	<% if !p.meta %>
<tr><td><%= link_to p.name, p, :html => { :target => '_blank' } %></td><td><%= p.answer %></td><td><%= p.captain %></td><td><%= p.hint %></td></tr>
	<% end %>
  <% end %>
</table>
</p>
<% end %>
</p>

<div id="statusblock" class="statusblock" style="background-color: <%= puzzle.status_color %>;"></div>

