<td class="med"><%= select_tag @puzzle.t_id+"_priority", options_for_select(Puzzle.priority_options,@puzzle.priority).html_safe, :prompt => 'Select priority' %></td>
  <td class="med"><%= select_tag @puzzle.t_id+"_status", options_for_select(['Select status', '']+Puzzle.status_options,@puzzle.status).html_safe %></td>
  <td class="med"><%= @puzzle.round.name %></td>
  <td class="med"><%= text_field_tag @puzzle.t_id+"_name", @puzzle.name %> <%= text_field_tag @puzzle.t_id+".url", @puzzle.url  %></td>
  <td class="med"><%= text_field_tag @puzzle.t_id+"_hint", @puzzle.hint %></td>
  <td class="med"><%= select_tag @puzzle.t_id+"_captain", options_for_select( User.list, @puzzle.captain ).html_safe, :prompt => 'Select captain' %></td>
  <td class="med"></td>
  <td class="med"><%= check_box_tag @puzzle.t_id+"_meta", '1', @puzzle.meta %></td>
  <td class="med"><%= text_field_tag @puzzle.t_id+"_answer", @puzzle.answer %></td>
  <td class="med"><%= hidden_field_tag @puzzle.t_id+"_id", @puzzle.id %><%= link_to 'Update', '#', :'data-puzzle-tid' => @puzzle.t_id, :'data-round-id' => @puzzle.round_id %></td>
  <td class="med"><%= link_to 'Cancel', { :action => 'info', :controller => 'puzzles', :id => @puzzle.id, :type => 'mini' }, :remote => true, :'data-update-target' => @puzzle.t_id %></td>
