<h1>New puzzle</h1>

<% form_for(@puzzle) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :blurb %><br />
    <%= f.text_field :hint %>
  </p>
  <p>
    <%= f.label :captain %><br />
    <%= collection_select(:puzzle,:captain,User.all,:login,:login,{:prompt=>true}) %>
  </p>
  <p>
    <%= f.label :answer %><br />
    <%= f.text_field :answer %>
  </p>
  <p>
    <%= f.label :meta %><br />
    <%= f.check_box :meta %>
  </p>
  <p>
    <%= f.label :round_id %><br />
    <%= f.text_field :round_id %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', @round %>
