- content_for :title, "#{@puzzle.name}"

%script{ :type => "text/javascript" }
  ! user = #{ current_user.to_json }
  channel = '#{ @puzzle.chat_id }';
  thread = '#{ @puzzle.class }';

= javascript_include_tag "#{node_host}/socket.io/socket.io.js"
= javascript_include_tag :defaults
= javascript_include_tag "socket-users"
= javascript_include_tag "chat"
= javascript_include_tag "puzzle"
= javascript_include_tag "workspace"

= render :partial => 'templates'
= render :partial => 'workspace/templates'

#mainpage
  = render :partial => "welcome/login"

#puzzle{ :"ng-controller" => "puzzleController", :"ng-show" => "visible" }
  #info{ :"ng-show" => "!puzzle.editing", :"ng-include" => "'puzzle_info'" }
  #edit{ :"ng-show" => "puzzle.editing", :"ng-include" => "'puzzle_edit'" }

  %a{ :"ng-click" => "add_workspace()", :"ng-show" => "!adding_workspace" } New workspace
  #workspace_bar{ :"ng-show" => "adding_workspace", :"ng-include" => "'workspace_bar'" }
  #workspaces
    .workspace{ :"ng-repeat" => "workspace in puzzle.workspaces", :"ng-include" => "workspace.workspace_type", :"ng-show" => "workspace.priority != 'Hidden'" }

= render :partial => 'chats/window', :locals => { :chats => @chats, :thread => @puzzle, :multi => nil }
